Resources:
  EC2Instance:
    Type: AWS::EC2::Instance
    Properties:
      ImageId: ami-12345678068663a3c619dd892  # Replace with your desired AMI ID
      InstanceType: t2.micro
      KeyName: future  # Replace with your EC2 key pair name
      UserData:
        Fn::Base64: !Sub |
          #!/bin/bash
          yum update -y
          amazon-linux-extras enable corretto
          yum install -y java-17-amazon-corretto

          # Download and run your Java application
          wget -O /path/to/your/jar-file.jar s3://my-bucket-linhcn3/future-0.0.1-SNAPSHOT.jar
          java -jar /path/to/your/jar-file.jar